<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/index.css" rel="stylesheet">
    <title>CAC-UPB</title>
    <link rel="icon" href="../img/logo.png">
    
</head>
<body>
    
    <div class="container">
        <div class="content">
            <header>
                <nav>
                    <div class="nav-flexbox">
                        <img src="../img/logo.png" alt="">
                        <a href="/"><u>Regresar</u></a>
                    </div>
                </nav>
            </header>

        <h2>Número de Turnos: <%= appointments.length %></h2>

        <div class="appointment-table">
        <table>
            <thead>
              <tr>
                <th>No.</th>
                <th>Nombre</th>
                <th>Lugar</th>
                <th>Fecha</th>
                <th>Prioridad</th>
                <th>Servicio</th>
                <th>Tiempo de Espera</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <% appointments.forEach(appointment => { %>
              <tr>
                <td><%= appointment._id %></td>
                <td><%= appointment.name %></td>
                <td><%= appointment.id_service_point %></td>
                <td><%= appointment.date %></td>
                <td><%= appointment.status %></td>
                <td><%= appointment.id_type %></td>
                <td><%= appointment.time %></td>
                <td>
                  <% if (appointment.isExpired == true) { %>
                    Expirada
                  <% } else if ( appointment.isExpired == false ) { %>
                    Realizada
                  <% } else { %>
                    Pendiente
                  <% } %>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
</body>
</html>